USR_ID = 0
USR_DNI = 1
USR_NOMBRE = 2
USR_APELLIDO = 3
USR_CORREO = 4
USR_CONTRASENA = 5
USR_FECHA_NAC = 6
USR_TELEFONO = 7
USR_GENERO = 8
USR_ROL = 9

## -------------------- ESTO HAY QUE CAMBIARLO CON UNA VA DE ENTORNO QUE LA TENGAMOS DESDE EL FRONT ----------------------
FRONT_URL=http://localhost:5173

remitente = "sistemacef@gmail.com"
password = "saal ixel tbum pohe"

# API DE MERCADO PAGO
QR = {'image': 'https://www.mercadopago.com/instore/merchant/qr/133588900/65001303cbf44c288e9e45a662336656cf1edb8befc442c0b2985dd928a5b757.png', 'template_document': 'https://www.mercadopago.com/instore/merchant/qr/133588900/template_65001303cbf44c288e9e45a662336656cf1edb8befc442c0b2985dd928a5b757.pdf', 'template_image': 'https://www.mercadopago.com/instore/merchant/qr/133588900/template_65001303cbf44c288e9e45a662336656cf1edb8befc442c0b2985dd928a5b757.png'}